/* ==========================================================================
   GoInstant Form Widget Styles
   ========================================================================== */

.gi-webrtc .gi-collapse {
  width: 15px;
  height: 15px;
  background-color: #cccccc;
  padding: 5px;
}

.gi-webrtc .gi-collapse-wrapper {
  background-color: #cccccc;
  min-width: 150px;
}

/* Collapsed */
.gi-webrtc.gi-collapsed .gi-list-wrapper {
  display: none;
}

.gi-webrtc {
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
}

.gi-webrtc .gi-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.gi-webrtc .gi-user {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  float: left;
  background-color: #d6d6d6;
}

.gi-webrtc .gi-user .gi-stream {
  width: 100%;
  height: 100%;
}

.gi-webrtc .gi-user.gi-local {
  background-color: #e6e6e6;
  margin-left: 0;
}

.gi-webrtc .gi-user .gi-stream-wrapper {
  width: 200px;
  height: 150px;
  background-color: #999999;
}

.gi-webrtc .gi-user .gi-stream-wrapper .gi-overlay {
  background-color: #333333;
  padding: 3px;
  position: absolute;
  z-index: 10;
  display: none;
}

.gi-webrtc .gi-user .gi-stream-wrapper .gi-expand {
  width: 15px;
  height: 15px;
  background-color: #cccccc;
  padding: 5px;
}

/* Stream stopped */
.gi-webrtc .gi-user .gi-stream-wrapper .gi-toggle {
  width: 15px;
  height: 15px;
  background-color: #cccccc;
  padding: 5px;
}

/* Stream started */
.gi-webrtc .gi-user .gi-stream-wrapper.gi-streaming .gi-toggle {
  background-color: #ff0000;
}

.gi-webrtc .gi-user .gi-color {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  margin-top: 5px;
  background-color: #cccccc;
}

.gi-webrtc .gi-user .gi-name {
  display: inline-block;
  min-width: 100px;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  margin: 5px 0 0 5px;
  padding: 4px 0 4px 0;
}

.gi-webrtc .gi-user .gi-audio {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px 0 0 5px;
  padding: 5px;
}

.gi-webrtc .gi-user.gi-local .gi-audio {
  background-color: #cccccc;
}

.gi-webrtc .gi-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #aaaaaa;
}

/* speaking */
.gi-webrtc .gi-audio.gi-speaking .gi-icon {
  background-color: #ffff00;
}

/* muted */
.gi-webrtc .gi-audio.gi-muted .gi-icon {
  background-color: #ff0000;
}
