<div class="gi-stream-wrapper">
  <div class="gi-overlay">
    <div class="gi-expand">
      <span class="gi-icon"></span>
    </div>
    <div class="gi-pause">
      <span class="gi-icon"></span>
    </div>
    <div class="gi-mute">
      <span class="gi-icon"></span>
    </div>
    <div class="gi-leave">
      <span class="gi-icon"></span>
    </div>
  </div>
  <button class="gi-join">
    <span>
      <span class="gi-icon"></span>
    </span>
    Join the Stream
  </button>
</div>
<div class="gi-user-wrapper">
  <span class="gi-color"></span>
  <span class="gi-name"></span>
  <div class="gi-audio">
    <span class="gi-icon"></span>
  </div>
</div>
